
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media screen and (max-width: 720px) {
  input.form-control, select.form-control {
    font-size: 16px;
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.slide-right-enter-active {
  animation: slideOutRight .5s;
}
.slide-right-leave-active {
  animation: slideOutRight .5s reverse;
}

.slide-left-enter-active {
  animation: slideOutLeft .5s;
}
.slide-left-leave-active {
  animation: slideOutLeft .5s reverse;
}